<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Contact</title>
</head>
<body>
  <div class="form-container">
    <h2 class="h2">Add New Contact</h2>
    <form action="home">
      <label for="firstName" class="font-color">First Name:</label>
      <input type="text" id="firstName" name="firstName" required>

      <label for="lastName" class="font-color">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required>

      <label for="phoneNumber" class="font-color">Phone Number:</label>
      <input type="tel" id="phoneNumber" name="phoneNumber">

      <label for="email" class="font-color">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="category" class="font-color">Category:</label>
      <input type="text" id="category" name="category">


      <label for="address" class="font-color">Address:</label>
      <textarea id="address" name="address"></textarea>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</body>
</html>
