<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
  </head>
  <body>

          <form id="login-form" action="login">
            <nav class="navigation-bar">
                <div class="logo">
                  <span>ContactManager</span>
                </div>
                
                <ul class="navigation-links">
                    <li class="nav-button-login"><a href="login">Login</a></li>
                    <li class="nav-button-signup"><a href="register">Signup</a></li>
                </ul>
              </nav>

              

            <div class="hero-content">
                <span class="logo">ContactManager</span>
                <p>You can now collect and manage your contacts easily.</p>
                <a href="login" class="lets-go-button">Let's Go!</a>
              </div>
                
          </form>
  
      <script>
          // Add JavaScript code for login form submission and authentication here (explained below)
          
      </script>
  </body>
  </html>
  