<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <header>
    <nav class="navigation-bar">
      <div class="logo">
        <span><b>ContactManager</b></span>
      </div>
      <ul class="navigation-links">
        <li class="nav-button"><a href="addcontact">Add Contacts</a></li>
        <li class="nav-button"><a href="home">All Contacts</a></li>
        <li class="nav-button"><a href="login">LogOut</a></li>
      </ul>
    </nav>
  </header>
  


  <div class="content-wrapper">
    <div class="contact-card">
      <h4 class="title">Sudharshan G K</h4>
      <p class="desc">+91 7795347702</p>
      <p class="desc">Sudharshangk7&#64;gmail.com</p>
      <p class="desc">Category</p>
      <p class="desc">Bengaluru</p>
      <div class="btn-container">
        <a href="addcontact" class="edit">Edit</a>
        <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
    </div>
  </div>

  <div class="contact-card">
      <h4 class="title">Another Name</h4>
      <p class="desc">Phone Number</p>
      <p class="desc">Email Address</p>
      <p class="desc">Category</p>
      <p class="desc">Address</p>
      <div class="btn-container">
        <a href="addcontact" class="edit">Edit</a>
        <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
  </div>
  </div>

  <div class="contact-card">
      <h4 class="title">Another Name</h4>
      <p class="desc">Phone Number</p>
      <p class="desc">Email Address</p>
      <p class="desc">Category</p>
      <p class="desc">Address</p>
      <div class="btn-container">
        <a href="addcontact" class="edit">Edit</a>
        <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
  </div>
</div>

<div class="contact-card">
  <h4 class="title">Another Name</h4>
  <p class="desc">Phone Number</p>
  <p class="desc">Email Address</p>
  <p class="desc">Category</p>
  <p class="desc">Address</p>
  <div class="btn-container">
    <a href="addcontact" class="edit">Edit</a>
    <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
</div>
</div>

<div class="contact-card">
  <h4 class="title">Another Name</h4>
  <p class="desc">Phone Number</p>
  <p class="desc">Email Address</p>
  <p class="desc">Category</p>
  <p class="desc">Address</p>
  <div class="btn-container">
    <a href="addcontact" class="edit">Edit</a>
    <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
</div>
</div>

<div class="contact-card">
  <h4 class="title">Another Name</h4>
  <p class="desc">Phone Number</p>
  <p class="desc">Email Address</p>
  <p class="desc">Category</p>
  <p class="desc">Address</p>
  <div class="btn-container">
  <a href="addcontact" class="edit">Edit</a>
  <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
</div>
</div>
</div>

</body>
</html>
