<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-form">
        <h2 class="h2">Login</h2>
        <form id="login-form" action="home">
            <input type="email" name="email" id="email" placeholder="Email" class="login-input" required>
            <input type="password" name="password" id="password" placeholder="Password" class="login-input" required>
            <button type="submit" class="login-button">Login</button>
            <p class="new-user">New User? <a class="Register-here" href="register">Register Here</a></p>
            
            <a class="forgot-password" href="forgotpassword">Forgot Password?</a>
        </form>
    </div>

    <script>
        // Add JavaScript code for login form submission and authentication here (explained below)
        
    </script>
</body>
</html>


